/* src/components/UserList.css */
body {
    background-image: url('logo_java_messenger.png');
    background-repeat: repeat;
    background-size: 120px 120px;
}


.userlist-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.userlist-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.userlist-error {
    color: #870a0a;
    margin-bottom: 15px;
}

.userlist-list {
    list-style: none;
    padding: 0;
}

.userlist-item {
    margin-bottom: 10px;
}

.userlist-button {
    padding: 10px 20px;
    background-color: rgba(22, 133, 49, 0.68);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.userlist-button:hover {
    background-color: rgb(18, 120, 43);
}
